# Java
*.class

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Eclipse / STS
.project
.classpath
.settings/
.metadata/

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
logs/

# 환경설정
.env
application-*.yml
application-*.properties